@import "_variables";

.text-green {
    color: $lad-green;
}

.text-yellow-light {
    color: $lad-yellow-light;
}

.text-yellow-dark {
    color: $lad-yellow-dark;
}
.font-weight-900 {
    font-weight: 900;
}
