#banner-top {
    font-family: 'Montserrat', sans-serif; 
    @include font-size(12px);
    letter-spacing: 1px;
    font-style: italic;
    a {
      color:$lad-warning-light!important;
    }
    a:hover {
      color: $lad-warning-light!important; 
    }
  }