#banner-top {
    font-size: .65rem;
    font-weight: 700;
    letter-spacing: 1px;
    a {
      color:$lad-yellow-light!important;
    }
    a:hover {
      color: $lad-yellow-dark!important; 
    }
  }