#contact {
    background-color: $lad-secondary;
    h2 {
        color: #fff;
    }
    p {
        color: $lad-primary-alt;
        font-weight: 200;
    }
    .divider {
        background-color: $lad-primary-alt;
    }
}