@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600&family=Roboto:wght@100;300&display=swap');

h1,
h2,
h3, 
h4, 
h5, 
h6 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: .5rem;
    line-height: 1.25;
    text-rendering: optimizeLegibility;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
    -moz-hyphens: manual;
}

p, .lead {
    font-family: 'Roboto', sans-serif;
}

.nav-link {
    font-family: 'Roboto', sans-serif;
}

.text-gray-600 {
    color: $gray-600;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: 'Roboto', sans-serif;
    color: $purple-300;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-family: 'Roboto', sans-serif;
    color: $purple-300;

  }
  :-ms-input-placeholder { /* IE 10+ */
    font-family: 'Roboto', sans-serif;
    color: $purple-300;

  }
  :-moz-placeholder { /* Firefox 18- */
    font-family: 'Roboto', sans-serif;
    color: $purple-300;

  }